<h3><%= @television_show.title %></h3>

<ul>
  <li>Network: <%= @television_show.network %></li>
  <li>Years: <%= @television_show.years %></li>
</ul>

<div>
  <%= @television_show.synopsis %>
</div>

<h4>Add a Character:</h4>

<%= form_for [@television_show, @character] do |f| %>

  <% if @character.errors.any? %>
    <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :character_name %>
  <%= f.text_field :character_name %><br>
  <%= f.label :actor %>
  <%= f.collection_select :actor_id, Actor.all, :id, :name %><br>
  <%= f.label :description %>
  <%= f.text_field :description %><br>
  <%= f.submit %>
<% end %>

<% if @television_show.characters.empty? %>
  <p>No characters added for this show yet.</p>
<% else %>
  <ul>
    <% @television_show.characters.each do |char| %>
      <li><%= char.character_name %>, played by <%= char.actor.name %><br>
      <%= char.description %><%= link_to 'Delete Character', character_path(char), method: :delete %></li>
    <% end %>
  </ul>
<% end %>

